<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark">
  <a style="margin-top:-10px;color:pink;
font-family: 'Rakkas', cursive;
font-size:2.25rem;font-weight:bolder" class="navbar-brand"
   [routerLink]="['/home']" routerLinkActive="router-link-active" ><i class="fa fa-heart" aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>

  <ul  *ngIf="IsLogin()" style="letter-spacing:1px;font-weight:bold;font-size:1.2rem;   
  " class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >الرئيسية </a>
    </li>
    <li class="nav-item"routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/member']">بحث</a>
    </li>
    <li class="nav-item"routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/fav']">تواصل</a>
    </li>
    <li class="nav-item"routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/message']">دردشة</a>
    </li>
  </ul>
<!--After Login-->
<div dropdown  *ngIf="IsLogin()" > 
  <button dropdownToggle type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    مرحبا بك
    {{auth.decodedtoken.unique_name}}
  </button>
  <div *dropdownMenu  class="dropdown-menu mr-3 prof">
    <a class="dropdown-item " href="#"><i class="fa fa-address-book" aria-hidden="true"></i>
      الملف التعريقي</a>
    <a (click)="LogedOut()" class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>
      تسجيل الخروج</a>
  </div>
</div>
  <!--After Login-->

  <form *ngIf="!IsLogin()" (ngSubmit)="Login()" #LoginForm="ngForm" class="form-inline my-2 my-lg-0 ml-3">
    <input name="username" required class="form-control mr-sm-2" type="text" placeholder="إسم المشترك" [(ngModel)]="model.username">
    <input name="password" required class="form-control mr-sm-2" type="password" placeholder="كلمة السر" [(ngModel)]="model.password">
    <button [disabled]=" ! LoginForm.valid" style="font-weight:bold;font-family:'JF Flat';font-size:1.0rem" class="btn btn-secondary my-2 my-sm-0" type="submit">تفضل
      بالدخول</button>
  </form>
</nav>