.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
  color:white !important;
}

.btn-secondary:hover {
    text-decoration: none;
    color: black !important;
    background:pink !important
      }

.prof >*{
font-family: fantasy;
font-size: 20px;
}
.dropdownToggle,.dropdown-item{
  cursor: pointer;
}